{
    # Modo de desenvolvimento local (Sem certificados HTTPS estritos)
    auto_https off
}

# Static Assets CDN (Localhost :8081)
http://localhost:8081 {
    root * ./crom-static
    file_server
    encode gzip zstd
    
    # Aggressive caching for static assets
    header /v1/* {
        Cache-Control "public, max-age=31536000, immutable"
        Access-Control-Allow-Origin "*"
    }
}

# API Backend Proxy (Localhost :8082)
http://localhost:8082 {
    reverse_proxy localhost:3000

    # Basic security headers
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
    }
}

# Frontend (Localhost :8080)
http://localhost:8080 {
    root * .
    file_server
    encode gzip zstd

    # Security Headers (Hardening)
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-XSS-Protection "1; mode=block"
        
        # Corrigindo CSP para permitir execução segura na borda e Google Tags
        Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.tailwindcss.com https://unpkg.com static.crom.run https://www.googletagmanager.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data: blob: https://crom.run https://images.unsplash.com; connect-src 'self' http://localhost:3000 http://localhost:8082 https://tools-api.crom.run https://cloudflare-dns.com https://dns.google https://freeipapi.com https://rdap.arin.net https://api.allorigins.win;"
        
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=(), usb=()"
    }
}
